
body {color: darkgrey; background-image:url('images/zombiesapproaching.jpeg');backstretch("/binding_dark.png") repeat 0 0;}
.container {('Untitled.jpg')}
.CENTER {text-align: center; }

span {
    color: #778899;
}